{% extends 'base.html' %}

{% block title %}- List {% endblock%}

{% block content %}

{% for post in photos %}

{% if user.get_username == post.author.username  or user.get_username == "admin" %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <div class="shadow p-3 mb-5 bg-white rounded">

        <p><img src="{{post.photo.url}}" style="width:100%;"></p>
            </div>

        <p class="text-justify">{{post.text|linebreaksbr}}</p>
        <p class="text-right font-italic">Written by {{post.author.username}}</p>
        <p class="text-right">
            <a href="{% url 'photo:photo_detail' pk=post.id %}" class="btn btn-xs btn-success">Comment</a>
        </p>

    </div>
    <div class="col-md-2"></div>
</div>

{% endif %}
{% endfor %}
{% endblock %}